.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 7rem;
  color: white;
  background-image: linear-gradient(
    to top,
    #151b3f,
    #141539,
    #172144,
    #19284a,
    #1b2e4f,
    #1b2e4f,
    #1b2e4f,
    #1b2e4f,
    #19284a
  );
}

@media only screen and (min-width: 768px) {
  .main {
    gap: 4rem;
    min-height: 70vh;
    background-image: linear-gradient(
      to right,
      #141539,
      #151b3f,
      #172144,
      #19284a,
      #1b2e4f,
      #1b2e4f,
      #1b2e4f,
      #1b2e4f,
      #19284a,
      #172144,
      #151b3f,
      #141539
    );
  }

  main:nth-child(2) {
    margin-top: 3rem;
  }

  section:nth-child(3) {
    align-self: flex-end;
    margin-right: 2rem;
  }
}
