.game__paper__border,
.game__scissors__border,
.game__rock__border {
  border-radius: 50%;
  padding: 1rem;
}

.game__paper__border {
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.game__border__placeholder {
  background-image: none;
}

.game__container__placeholder {
  background-color: hsl(237, 49%, 15%);
  opacity: 0.3;
  padding: 2.3rem;
  border-radius: 50%;
  margin-top: 0.8rem;
}

.game__container__placeholder img {
  visibility: hidden;
}

.game__scissors__border {
  background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.game__rock__border {
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.game__paper,
.game__scissors,
.game__rock {
  background-color: white;
  padding: 2rem;
  border-radius: 50%;
}

img {
  width: 3rem;
  height: 3rem;
}

@media only screen and (min-width: 768px) {
  .game__paper,
  .game__scissors,
  .game__rock {
    background-color: white;
    padding: 2.2rem;
  }

  .game__paper__border,
  .game__scissors__border,
  .game__rock__border {
    padding: 1.5rem;
  }

  img {
    width: 4rem;
    height: 4rem;
  }
}
