.game__start__container,
.game__result__container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: url('../../../public/images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50%;
}

.game__result__container {
  background-image: none;
}

@media only screen and (min-width: 600px) {
  .game__start__container {
    width: 85%;
    gap: 5rem;
  }
}

@media only screen and (min-width: 690px) {
  .game__start__container {
    width: 80%;
    gap: 5rem;
  }
}

@media only screen and (min-width: 738px) {
  .game__start__container {
    width: 60%;
  }
}

@media only screen and (min-width: 1066px) {
  .game__start__container {
    width: 50%;
  }
}

@media only screen and (min-width: 1405px) {
  .game__start__container {
    width: 40%;
    gap: 5rem;
  }
}

@media only screen and (min-width: 1766px) {
  .game__start__container {
    width: 30%;
    gap: 5rem;
  }
}
