.game__start__container,
.game__result__container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-image: url('../../../public/images/bg-triangle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50%;
}

.game__result__container {
  background-image: none;
}

@media only screen and (min-width: 768px) {
  .game__container {
    width: 40%;
    gap: 5rem;
  }
}
