.picks__container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.picks__item {
  display: flex;
  flex-direction: column;
}

.picks__container h3 {
  font-size: 0.8rem;
  letter-spacing: 1.7px;
  margin-top: 1.8rem;
}

.house__pick {
  display: flex;
  flex-direction: column;
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .picks__item,
  .house__pick {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .picks__container {
    gap: 5rem;
  }

  .picks__container h3 {
    font-size: 1.2rem;
  }
}
