.picks__container {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.picks__container h3 {
  font-size: 0.8rem;
  letter-spacing: 1.7px;
  margin-top: 1.8rem;
}

.house__pick {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
