.picks__container {
  margin: 3.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.picks__container h3 {
  font-size: 0.8rem;
  letter-spacing: 1.7px;
  margin-top: 1.8rem;
}
