.play__again_btn {
  width: 16.5rem;
  height: 3.3rem;
  border-radius: 0.5rem;
  border: none;

  font-size: 3.6rem;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;
}

.play__again_btn h1 {
  color: hsl(229, 25%, 31%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
