.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  overflow: hidden;
  background: url('/public/images/image-rules.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.modal__overlay h1 {
  color: hsl(229, 25%, 31%);
  text-align: center;
  margin-top: 7rem;
}

.modal__header h1 {
  visibility: hidden;
}

.modal__close {
  visibility: hidden;
}

@media only screen and (min-width: 768px) {
  .modal__overlay {
    /* background: none; */
    display: flex;
    flex-direction: column;

    /* position: fixed; */
    background: white;
    width: 28rem;
    height: 28rem;
    left: 35%;
    top: 35%;
    border-radius: 0.5rem;
  }

  .modal__overlay__image {
    background: url('/public/images/image-rules.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
  }

  .modal__overlay h1 {
    visibility: hidden;
    margin: 0;
  }

  .modal__header h1 {
    visibility: visible;
    color: hsl(229, 25%, 31%);
    text-align: center;
    font-size: 2rem;
  }

  .modal__close {
    visibility: visible;
  }

  .modal__close img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
