.rules__btn {
    background-color: transparent;
    color: white;
    padding: 0.8rem;
    width: 9rem;
    border: none;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}


@media only screen and (min-width: 768px) {
    .rules__btn {
        border: 2.5px solid hsl(216, 12%, 60%);
        padding: 0.6rem;
        width: 8.5rem;
        letter-spacing: 0.15rem;
    }

}